SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
POSTHOG_API_KEY=
POSTHOG_HOST=https://app.posthog.com
META_PIXEL_ID=
META_CAPI_ACCESS_TOKEN=
META_TEST_EVENT_CODE=
APP_BASE_URL=
TRACKING_DOMAIN=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
